.lesson__page{
	padding-top: 20px;
	
	@media only screen and (max-width: 765px){
		padding-top: 0;
	}
	.container{
		width: 100%;
		margin: 0 auto;
		max-width: 940px;
		padding: 0 20px;
		box-sizing: border-box;
		@media only screen and (max-width: 765px) {
			padding: 0;
		}
	}
}