.lesson__page{
	.lesson__navigation{
		
		@media only screen and (max-width: 765px){
			display: none;
			flex-wrap: wrap;
		}
		border-top-right-radius: 5px;
		overflow: hidden;
		border-top-left-radius: 5px;
		box-shadow: 0 5px 5px rgba(102,102,102,.15);
		display: flex;
		position: relative;
		z-index: 2;
		justify-content: space-between;
		background: #f0f0f0;
		.navigation__item{
			width: 100%;
			cursor: pointer;
			padding: 0 47px;
			
			@media only screen and (max-width: 991px){
				padding: 0 34px;
			}
			
			@media only screen and (max-width: 765px){
				width: 100%;
			}
			background: #f0f0f0;
			@include trans();
			.item__link{
				width: 100%;
				height: 60px;
				display: flex;
				br{
					@media only screen and (min-width: 991px){
						display: none;
					}
				}
				>span{
					margin: auto;
					display: inline-block;
					font-weight: 500;
					text-transform: uppercase;
					@include trans();
					position: relative;
					color: #00c3bc;

					.ico{
						position: absolute;
						width: 20px;
						height: 20px;
						display: block;
						top: 50%;
						transform: translateY(-50%);
						left: -26px;
						margin-top: -1px;
						background: url('../images/navitation2.png') no-repeat;
					}
				}
			}
			&:hover,
			&-active{
				background: #00c3bc;				
				.item__link >span{
					color: #fff;
				}
			}
			&-active{
				.item__link >span{
					i{
						display: none;
					}
				}
			}
			&-completed{
				.item__link >span{
					.ico{
						background-position: 1px 1px;
					}
				}
			}
			&-in{
				.item__link >span{
					.ico{
						background-position: -21px 1px;
					}
				}
			}
			&-avaible{
				.item__link >span{
					.ico{
						background-position: -44px 1px;
					}
				}
			}

			&-pro{
				.item__link >span{
					color: #ffcf73;
					.ico{
						background-position: -66px 1px;
					}
				}
			}
		}
	}
}